* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar1 {
    display: flex;
    align-items: center;
    padding: 0 3%;
    background-color: black;
}

.logo1 img {
    max-width: 100%;
}

.listing1 {
    flex: 1;
    text-align: right;
    transition: 0.5s;
}

.listing1 ul li {
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
    color: darkturquoise;
}

a:hover .hover11, a:hover .hover22, a:hover .hover33, a:hover .hover44, a:hover .hover55 {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 120px #fff;
}

.footer {
    background-color: #333333;
    text-align: center;
    width: 100%;
}

#group {
    font-size: 20px;
    color: mintcream;
}
#names {
    color: mintcream;
    font-style: italic;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
    word-spacing: 20px;
    margin-top: 20px;
}
#course {
    font-size: 12.5px;
    font-style: italic;
    color: mintcream;
    margin-top: 30px;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

article {
    background-color: rgb(162, 162, 165);
    float: right;
    color: white;
    text-align: left;
    padding: 80px 70px;
    margin-right: 120px;
    margin-top: 50px;
}

#description {
    line-height: 25px;
    margin-top: 15px;
}

.bubble-chart-container {
    text-align: center;
    margin: 50px auto;
}

svg {
    display: block;
    margin: 0 auto;
    height: 800px;
    width: 1200px;
    overflow: visible;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-container {
    text-align: center;
    margin-top: 450px; /* Increase this value to move the dropdown further down */
    margin-bottom: 20px; /* Keeps space below the dropdown */
}


    #yearSelector {
        width: 200px; /* Make the dropdown wider */
        height: 40px; /* Increase the height */
        font-size: 16px; /* Increase font size for better visibility */
        text-align: center; /* Center text inside the dropdown */
        cursor: pointer;
        border-radius: 8px; /* Add rounded corners */
        border: 1px solid #ccc; /* Add a border */
        padding: 5px;
    }

    label {
        font-size: 18px; /* Label font size */
        margin-right: 10px; /* Add some space between label and dropdown */
    }


    /* Add this to your existing CSS */

.legend {
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.legend-item circle {
    margin-right: 8px;
}

.bubble text {
    font-size: 10px;
    text-anchor: middle;
    pointer-events: none;
}

button {
    margin: 10px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}
